# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class

# idea #
.idea
*.iml
.editorconfig

# Package Files #
*.jar
*.war
*.ear
/target
logs
doc

# web
node_modules
/dist
dist.zip
 
# local env files
.env.local
.env.*.local