<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiger.job.server.mapper.LogRotateMapper">

    <!--查询日志表中日周期-->
    <select id="selectDayCycle" resultType="string">
        select
            concat(min(`execute_time`),',',max(`execute_time`)) as daycycle
        from
            `sys_scheduled_log`
    </select>

    <!--复制表，实现日志轮转-->
    <update id="copyTable">
        create table if not exists ${tableName_n} as (select * from `sys_scheduled_log`)
    </update>

    <!--清空日志表的日志-->
    <update id="delRecordsIFExist">
        delete from
            `sys_scheduled_log`
        where
            exists(select 1 from ${tableName_n})
    </update>

</mapper>