<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.job.server.mapper.ScheduleLogMapper">
    <resultMap id="scheduleLogMap" type="com.tiger.job.common.entity.ScheduleLogDto">
        <result column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="task_name" property="taskName"/>
        <result column="execute_status" property="executeStatus"/>
        <result column="content" property="content"/>
        <result column="execute_time" property="executeTime"/>
    </resultMap>
    <select id="getPage" parameterType="string" resultMap="scheduleLogMap">
        select
            `id`,
            `task_id`,
            `task_name`,
            `execute_status`,
            `content`,
            `execute_time`
        from
            `sys_scheduled_log`
        order by `name` desc, `execute_time` desc, id
    </select>
    <insert id="add">
        insert into `sys_scheduled_log`(`id`,`task_id`,`task_name`,`execute_status`,`content`,`execute_time`)
        values (
            #{log.id},
            #{log.taskId},
            #{log.taskName},
            #{log.executeStatus},
            #{log.content},
            #{log.executeTime}
        )
    </insert>
    <delete id="clearLog">
        delete from
            `sys_scheduled_log`
        where
            `execute_time` &lt;= #{endTime}
    </delete>
    <select id="latestLogByTask" resultMap="scheduleLogMap">
        select
            `id`,
            `task_id`,
            `task_name`,
            `execute_status`,
            `content`,
            `execute_time`
        from
            `sys_scheduled_log`
        where
            `task_id` = #{taskId}
            and execute_status = 'fail'
        order by `execute_time` desc, `id` desc
        limit 1
    </select>
    <select id="lastLog" resultMap="scheduleLogMap">
        select
            `id`,
            `task_id`,
            `task_name`,
            `execute_status`,
            `content`,
            `execute_time`
        from
            `sys_scheduled_log`
        where
            `task_id` = #{taskId}
            and `execute_time` &gt; #{executeTime}
            and `execute_status` = 'fail'
        order by `execute_time` asc, `id` asc
        limit 1
    </select>

    <select id="nextLog" resultMap="scheduleLogMap">
        select
            `id`,
            `task_id`,
            `task_name`,
            `execute_status`,
            `content`,
            `execute_time`
        from
            `sys_scheduled_log`
        where
            `task_id` = #{taskId}
            and `execute_time` &lt; #{executeTime}
            and `execute_status` = 'fail'
        order by `execute_time` desc, `id` desc
        limit 1
    </select>
</mapper>
