<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.job.server.mapper.ScheduleTaskMapper">
    <resultMap id="scheduleTaskMap" type="com.tiger.job.common.entity.ScheduleTaskPo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="task_type" property="taskType"/>
        <result column="task_describe" property="taskDescribe"/>
        <result column="path" property="path"/>
        <result column="cron" property="cron"/>
        <result column="enable" property="enable"/>
        <result column="open_log" property="openLog"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="total" property="total"/>
    </resultMap>
    <select id="getPage" parameterType="string" resultMap="scheduleTaskMap">
        select
            a.`id`,
            a.`name`,
            b.`dict_label` as task_type,
            a.`task_describe`,
            a.`path`,
            a.`cron`,
            a.`enable`,
            a.`open_log`,
            a.`create_user`,
            a.`create_time`,
            a.`update_user`,
            a.`update_time`,
            concat(ifnull(c.fail_count,0),'/',ifnull(d.success_count,0)) as total
        from
            `sys_scheduled` as a
        left join `sys_dict` as b
            on a.`task_type` = b.`dict_value`
            and b.`code` = 'schedule_task'
            and is_sealed = 0
            and b.`del_flag` = 0
        left join (select task_id, count(id) as fail_count from `scheduled_log` where `execute_status` = 'fail' group by task_id) c
            on c.task_id = a.id
        left join (select task_id, count(id) as success_count from `scheduled_log` where `execute_status` = 'success' group by task_id) d
            on d.task_id = a.id
        <where>
            <if test="taskName != null and taskName != ''">
                and a.`name` like concat('%',#{taskName},'%')
            </if>
            <if test="taskType != null and taskType != ''">
                and a.`task_type` like concat('%',#{taskType},'%')
            </if>
            <if test="taskStatus != null and taskStatus != ''">
                and a.`enable` like concat('%',#{taskStatus},'%')
            </if>
        </where>
        order by a.`task_type` desc, a.`name` desc, `create_time` desc, id
        <if test="current != null">
            limit #{current} , #{size}
        </if>
    </select>
    <select id="getTotals" parameterType="string" resultType="int">
        select
            count(*)
        from
        `sys_scheduled`
        <where>
            <if test="taskName != null and taskName != ''">
                and `name` like concat('%',#{taskName},'%')
            </if>
            <if test="taskType != null and taskType != ''">
                and `task_type` like concat('%',#{taskType},'%')
            </if>
            <if test="taskStatus != null and taskStatus != ''">
                and `enable` like concat('%',#{taskStatus},'%')
            </if>
        </where>
    </select>
    <insert id="add">
        insert into
            `sys_scheduled`(
            `id`,
            `name`,
            `task_type`,
            `task_describe`,
            `path`,
            `cron`,
            `enable`,
            `open_log`,
            `create_user`,
            `create_time`
        )
        values (
            #{task.id},
            #{task.name},
            #{task.taskType},
            #{task.taskDescribe},
            #{task.path},
            #{task.cron},
            #{task.enable},
            #{task.openLog},
            #{task.createUser},
            #{task.createTime}
        )
    </insert>
    <update id="update">
        update
            `sys_scheduled`
        set
            `name` = #{task.name},
            `task_type` = #{task.taskType},
            `task_describe` = #{task.taskDescribe},
            `path` = #{task.path},
            `cron` = #{task.cron},
            `enable` = #{task.enable},
            `open_log` = #{task.openLog},
            `update_user` = #{task.updateUser},
            `update_time` = #{task.updateTime}
        where
            `id` = #{task.id}
    </update>
    <update id="enableByIds">
        update
            `sys_scheduled`
        set
            `enable` = '1',
            `update_user` = #{tasks[0].updateUser},
            `update_time` = #{tasks[0].updateTime}
        where
            `id` in
            <foreach collection="tasks" item="task" open="(" separator="," close=")">
                #{task.id}
            </foreach>
    </update>

    <update id="disableByIds">
        update
            `sys_scheduled`
        set
            `enable` = '0',
            `update_user` = #{tasks[0].updateUser},
            `update_time` = #{tasks[0].updateTime}
        where
            `id` in
            <foreach collection="tasks" item="task" open="(" separator="," close=")">
                #{task.id}
            </foreach>
    </update>

    <delete id="deleteByIds" parameterType="list">
        delete from
            `sys_scheduled`
        where
            `id` in
            <foreach collection="ids" item="val" open="(" separator="," close=")">
                #{val}
            </foreach>
    </delete>
    <select id="refreshResult" resultMap="scheduleTaskMap">
        select
            a.`id`,
            a.`name`,
            b.`dict_label` as task_type,
            a.`task_describe`,
            a.`path`,
            a.`cron`,
            a.`enable`,
            a.`open_log`,
            a.`create_user`,
            a.`create_time`,
            a.`update_user`,
            a.`update_time`,
            concat(ifnull(c.fail_count,0),'/',ifnull(d.success_count,0)) as total
        from
            `sys_scheduled` as a
        left join `sys_dict` as b
            on a.`task_type` = b.`dict_value`
            and b.`code` = 'schedule_task'
            and is_sealed = 0
            and b.`del_flag` = 0
        left join (select task_id, count(id) as fail_count from `scheduled_log` where `execute_status` = 'fail' group by task_id) c
            on c.task_id = a.id
        left join (select task_id, count(id) as success_count from `scheduled_log` where `execute_status` = 'success' group by task_id) d
            on d.task_id = a.id
        where a.id = #{taskId}
    </select>

    <resultMap id="scheduleTaskDtoMap" type="com.tiger.job.common.entity.ScheduleTaskDto">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="taskType" column="task_type"/>
        <result property="taskDescribe" column="task_describe"/>
        <result property="path" column="path"/>
        <result property="cron" column="cron"/>
        <result property="enable" column="enable"/>
        <result property="openLog" column="open_log"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="selectByIds" resultMap="scheduleTaskDtoMap">
        select
            `id`,
            `name`,
            `task_type`,
            `task_describe`,
            `path`,
            `cron`,
            `enable`,
            `open_log`,
            `create_user`,
            `create_time`,
            `update_user`,
            `update_time`
        from
            `sys_scheduled`
        where
            `id` in
            <foreach collection="ids" item="val" open="(" separator="," close=")">
                #{val}
            </foreach>
    </select>
    <select id="selectAll" resultMap="scheduleTaskDtoMap">
        select
            `id`,
            `name`,
            `task_type`,
            `task_describe`,
            `path`,
            `cron`,
            `enable`,
            `open_log`,
            `create_user`,
            `create_time`,
            `update_user`,
            `update_time`
        from
            `sys_scheduled`
    </select>

    <delete id="deleteRecordsNotIn">
        delete from `sys_scheduled`
        where  `path` not in
        <foreach collection="tasks" item="item" open="(" separator="," close=")">
            #{item.path}
        </foreach>
    </delete>

    <insert id="addRecordsMoreOf">
        insert ignore into
            `sys_scheduled` (
                `id`,
                `name`,
                `task_type`,
                `task_describe`,
                `path`,
                `cron`,
                `enable`,
                `open_log`,
                `create_user`,
                `create_time`
            )
        values
        <foreach collection="tasks" item="item" index="index" separator=",">
            (
                #{item.id},
                #{item.name},
                #{item.taskType},
                #{item.taskDescribe},
                #{item.path},
                #{item.cron},
                #{item.enable},
                #{item.openLog},
                #{item.createUser},
                #{item.createTime}
            )
        </foreach>
    </insert>
</mapper>
